html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "HK Grotesk", sans-serif;
  color: #fff;
  background-color: #353535;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
}
::selection {
  text-shadow: none;
  color: #000;
  background: #fff;
}
::-moz-selection {
  text-shadow: none;
  color: #000;
  background: #fff;
}
/* Loader */
html {
  overflow: hidden;
}
html.loaded {
  overflow: auto;
}
html:after {
  content: "";
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #353535;
  background-image: url(../img/preloader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 400px 400px;
}
html.loaded:after {
  display: none;
}
body {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;
}
html.loaded body {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 1em 0 0.66em 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 6vw;
  line-height: 1.1;
  margin-top: 0;
}
h2 {
  font-size: 1.8em;
  line-height: 1.3;
}
h3 {
  font-size: 1.25em;
  line-height: 1.3;
}
.profile-image + h1 {
  margin-top: 28px;
}
h4 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
p:last-child {
  margin-bottom: 0;
}
.is-text-light {
  color: #fff;
}
.is-text-light a {
  color: #fff;
}

.rounded {
  border-radius: 50%;
}
.soft-rounded {
  border-radius: 8px;
}
.is-text-align-center {
  text-align: center;
}
.is-text-align-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}

/* CONTENT */
.content-wrap {
  width: 80%;
  margin: 0 auto;
  max-height: 100%;
  position: relative;
  z-index: 20;
}
.content {
  padding: 3em 0;
}

/* PROFILE IMAGE */
.profile-image {
  max-height: 92px;
}

/* FRAME */
.is-framed:after {
  content: "";
  position: fixed;
  z-index: 200;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 15px solid #111;
}

/* Efeito sobre o link */
/* LINK */
.link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 0 1px;
  transition: color ease 0.3s;
}
.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 6%;
  min-height: 2px;
  left: 0;
  bottom: 0;
  background-color: #222;
  transition: all ease 0.3s;
}
.link:hover {
  color: #111;
}
.link:hover:after {
  background: #fff;
  height: 100%;
}

/* Butões */
.button {
  border: 2px solid #fff;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background: none;
  cursor: pointer;
  padding: 16px 32px;
  margin: 10px 20px 0 0;
  display: inline-block;
  outline: none;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}
.button:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.button:hover,
.button:active {
  color: #111 !important;
}
.button:active {
  transition: all 0.1s;
  transform: scale(0.9);
  outline: 0;
}
.button:hover:after,
.button:active:after {
  width: 100%;
}

/* Textos Destacados */
.highlight {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  background: #111;
}
.highlight.orange {
  background: #F76004;
}

/* Textos coloridos*/
.text.pink {
  color: #fe65b7;
}

/* ------------------------------------------------------ */

/* Texto Animado */
#typed-strings {
  display: none;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TABLETS */
@media screen and (min-width: 768px) {
  body {
    font-size: 19px;
  }

  .profile-image {
    max-height: 128px;
  }
  .profile-image.small {
    max-height: 92px;
  }
  .profile-image.big {
    max-height: 192px;
  }

  h1 {
    font-size: 4vw;
    line-height: 1;
  }
}

/* DESKTOPS */
@media screen and (min-width: 1200px) {
  .content-wrap {
    width: 50%;
  }

  /* BUTTONS */
  .button.huge {
    font-size: 20px;
    padding: 22px 40px;
  }
}

/* DESKTOPS HIGH RES */
@media screen and (min-width: 1600px) {
  .content-wrap {
    width: 50%;
  }

  .content {
    padding: 6em 0;
  }
}
